.icon{
  display: inline-block;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../image/index_icon.png);
}
// song-list-control-icon
.sl-control-icon{
  background-position: -24px 0;
}

